lifxLight.json
[{"id":"2bb88949.5e4446","type":"tab","label":"Camera Davide","disabled":false,"info":""},{"id":"a5921bb2.e3e6a8","type":"node-lifx-in","z":"2bb88949.5e4446","server":"a29b5f05.4031","name":"Camera Davide Soffitto","lightID":"d073d53ba72a","x":770,"y":240,"wires":[]},{"id":"6471ca0e.ae7fa4","type":"node-lifx-out","z":"2bb88949.5e4446","server":"a29b5f05.4031","name":"Camera Davide Soffitto AK","lightID":"d073d53ba72a","x":130,"y":240,"wires":[["2af01095.073c1","b69d80ac.c04f7","78b279e9.d313a8"]]},{"id":"95e956c9.e3f6e8","type":"ui_switch","z":"2bb88949.5e4446","name":"","label":"On / Off","tooltip":"","group":"dd3cbc35.a3074","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":540,"y":120,"wires":[["a5921bb2.e3e6a8"]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"2af01095.073c1","type":"function","z":"2bb88949.5e4446","name":"power status","func":"msg.payload = msg.payload.on\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["95e956c9.e3f6e8"]]},{"id":"4ff13ee0.9a8de","type":"ui_slider","z":"2bb88949.5e4446","name":"","label":"Brightness","tooltip":"","group":"dd3cbc35.a3074","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":530,"y":360,"wires":[["a5921bb2.e3e6a8"]]},{"id":"b69d80ac.c04f7","type":"function","z":"2bb88949.5e4446","name":"bri status","func":"msg.payload = msg.payload.bri\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":360,"wires":[["4ff13ee0.9a8de","a152eda1.d797a"]]},{"id":"78b279e9.d313a8","type":"ui_template","z":"2bb88949.5e4446","group":"dd3cbc35.a3074","name":"","order":4,"width":0,"height":0,"format":"<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":440,"y":240,"wires":[[]]},{"id":"5be0a09c.26bba","type":"comment","z":"2bb88949.5e4446","name":"Lampadario camera","info":"","x":110,"y":60,"wires":[]},{"id":"a152eda1.d797a","type":"ui_text","z":"2bb88949.5e4446","group":"dd3cbc35.a3074","order":2,"width":0,"height":0,"name":"","label":"Current Brightness","format":"{{msg.payload}} %","layout":"row-spread","x":550,"y":420,"wires":[]},{"id":"73f7b58c.c25d2c","type":"http request","z":"2bb88949.5e4446","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://maker.ifttt.com/trigger/{{event}}/with/key/RnerBIwPmmEvn9mdf8EimyTE4-nqC69FNBMtMr6dUw","tls":"","persist":false,"proxy":"","authType":"","x":1550,"y":220,"wires":[[]]},{"id":"f5aa0943.fb91b8","type":"function","z":"2bb88949.5e4446","name":"tavolo + payload","func":"if(msg.payload == \"on\" || msg.payload == \"off\" ){\n    flow.set(\"tavolo_status\", msg.payload)\n}\n\nmsg.event = \"tavolo_\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":220,"wires":[["73f7b58c.c25d2c"]]},{"id":"8b199464.c60498","type":"ui_button","z":"2bb88949.5e4446","name":"","group":"a1dc37ab.4337b8","order":4,"width":0,"height":0,"passthru":false,"label":"Bianco","tooltip":"","color":"","bgcolor":"","icon":"fa-lightbulb-o","payload":"white","payloadType":"str","topic":"","x":1030,"y":260,"wires":[["f5aa0943.fb91b8"]]},{"id":"4d9cdf0e.b5b35","type":"ui_button","z":"2bb88949.5e4446","name":"","group":"a1dc37ab.4337b8","order":5,"width":0,"height":0,"passthru":false,"label":"Rosso","tooltip":"","color":"Red","bgcolor":"","icon":"fa-lightbulb-o","payload":"red","payloadType":"str","topic":"","x":1030,"y":320,"wires":[["f5aa0943.fb91b8"]]},{"id":"e2bd4ecc.65d85","type":"ui_button","z":"2bb88949.5e4446","name":"","group":"a1dc37ab.4337b8","order":6,"width":0,"height":0,"passthru":false,"label":"Giallo","tooltip":"","color":"yellow","bgcolor":"","icon":"fa-lightbulb-o","payload":"yellow","payloadType":"str","topic":"","x":1030,"y":380,"wires":[["f5aa0943.fb91b8"]]},{"id":"af131918.0e2a78","type":"ui_dropdown","z":"2bb88949.5e4446","name":"","label":"Select brightness","tooltip":"","place":"Select brightness","group":"a1dc37ab.4337b8","order":8,"width":0,"height":0,"passthru":false,"options":[{"label":"100%","value":"bri_100","type":"str"},{"label":"50%","value":"bri_50","type":"str"},{"label":"20%","value":"bri_20","type":"str"}],"payload":"","topic":"","x":1070,"y":200,"wires":[["f5aa0943.fb91b8"]]},{"id":"fa093686.a88cf8","type":"comment","z":"2bb88949.5e4446","name":"Luce tavolo camera","info":"","x":1070,"y":40,"wires":[]},{"id":"43b6f7f2.d2fb38","type":"function","z":"2bb88949.5e4446","name":"presa + payload","func":"msg.event = \"presa_\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":620,"wires":[["52c577d8.8fed28"]]},{"id":"52c577d8.8fed28","type":"http request","z":"2bb88949.5e4446","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://maker.ifttt.com/trigger/{{event}}/with/key/RnerBIwPmmEvn9mdf8EimyTE4-nqC69FNBMtMr6dUw","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":620,"wires":[[]]},{"id":"50f23a7d.48f9d4","type":"comment","z":"2bb88949.5e4446","name":"Presa camera","info":"","x":90,"y":540,"wires":[]},{"id":"c7070fa0.f4c48","type":"ui_button","z":"2bb88949.5e4446","name":"","group":"aee7c580.935058","order":1,"width":0,"height":0,"passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"fa-toggle-on","payload":"on","payloadType":"str","topic":"","x":70,"y":580,"wires":[["43b6f7f2.d2fb38"]]},{"id":"f6d8aa05.75bc78","type":"ui_button","z":"2bb88949.5e4446","name":"","group":"aee7c580.935058","order":3,"width":0,"height":0,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"fa-toggle-off","payload":"off","payloadType":"str","topic":"","x":70,"y":660,"wires":[["43b6f7f2.d2fb38"]]},{"id":"14cdecf8.e4f673","type":"ui_button","z":"2bb88949.5e4446","name":"","group":"a1dc37ab.4337b8","order":1,"width":0,"height":0,"passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"fa-toggle-on","payload":"on","payloadType":"str","topic":"","x":1030,"y":80,"wires":[["f5aa0943.fb91b8"]]},{"id":"dbc50dc.2b7a7f","type":"ui_button","z":"2bb88949.5e4446","name":"","group":"a1dc37ab.4337b8","order":2,"width":0,"height":0,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"fa-toggle-off","payload":"off","payloadType":"str","topic":"","x":1030,"y":140,"wires":[["f5aa0943.fb91b8"]]},{"id":"a29b5f05.4031","type":"node-lifx-server","z":"","name":"Lifx Server","address":"","broadcast":"","lights":"192.168.1.134","interval":"1000"},{"id":"dd3cbc35.a3074","type":"ui_group","z":"","name":"Lampadario","tab":"fcfa4560.649d08","order":1,"disp":true,"width":8,"collapse":false},{"id":"a1dc37ab.4337b8","type":"ui_group","z":"","name":"Tavolo","tab":"fcfa4560.649d08","disp":true,"width":"6","collapse":false},{"id":"aee7c580.935058","type":"ui_group","z":"","name":"Presa","tab":"fcfa4560.649d08","disp":true,"width":"6","collapse":false},{"id":"fcfa4560.649d08","type":"ui_tab","z":"","name":"Camera Davide","icon":"fa-bed","order":5,"disabled":false,"hidden":false}]