shoppingList.json
[{"id":"c8c94fea.cfa48","type":"tab","label":"Shopping List","disabled":false,"info":""},{"id":"a3d374ee.a6e408","type":"ui_list","z":"c8c94fea.cfa48","group":"1072e92e.a310d7","name":"","order":2,"width":"10","height":"29","lineType":"one","actionType":"check","allowHTML":false,"outputs":1,"topic":"","x":650,"y":120,"wires":[["88349867.a49338","56694d84.42c954"]]},{"id":"6703cb78.ef2834","type":"function","z":"c8c94fea.cfa48","name":"create query","func":"if (msg.payload !== \"\"){\n\nmsg1={\n    \"payload\": [\n    {\n        measurement: \"list\",\n        fields: {\n            number:1\n        },\n        tags:{\n            item:msg.payload\n        },\n    }\n    ]\n}\nnode.status({text:msg.payload});\nreturn msg1\n}\nnode.status({text:\"empty message\"});","outputs":1,"noerr":0,"x":290,"y":300,"wires":[["7e758d1.5b42774","96e78c82.0983"]]},{"id":"7e758d1.5b42774","type":"influxdb batch","z":"c8c94fea.cfa48","influxdb":"9c38bd33.612f68","precision":"","retentionPolicy":"","name":"query","x":470,"y":360,"wires":[]},{"id":"153df92a.dbc1bf","type":"influxdb in","z":"c8c94fea.cfa48","influxdb":"9c38bd33.612f68","name":"Select all","query":"SELECT * FROM list","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":120,"wires":[["b20a7eef.8be4b8","281a5a20.33fcbe"]]},{"id":"88349867.a49338","type":"debug","z":"c8c94fea.cfa48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":60,"wires":[]},{"id":"b20a7eef.8be4b8","type":"function","z":"c8c94fea.cfa48","name":"set title","func":"var i;\nfor (i = 0; i < msg.payload.length; i++) {\n  msg.payload[i].title=msg.payload[i].item;\n} \nnode.status({text:\"all title setted\"});\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":120,"wires":[["a3d374ee.a6e408"]]},{"id":"c43b880f.e96308","type":"influxdb in","z":"c8c94fea.cfa48","influxdb":"9c38bd33.612f68","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":1020,"y":120,"wires":[["5b69dc39.e8c1ec","e673ae6f.803668"]]},{"id":"56694d84.42c954","type":"function","z":"c8c94fea.cfa48","name":"if checked","func":"if (msg.payload.isChecked === true){\n    msg1={\n        \"query\":\"drop series from \\\"list\\\" where item='\"+msg.payload.item+\"'\"\n    }\n    node.status({text:\"is checked\"});\n    return msg1\n}\nnode.status({text:\"not checked\"});","outputs":1,"noerr":0,"x":810,"y":120,"wires":[["c43b880f.e96308","e09d57c5.fbfaf8"]]},{"id":"96e78c82.0983","type":"debug","z":"c8c94fea.cfa48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":300,"wires":[]},{"id":"281a5a20.33fcbe","type":"debug","z":"c8c94fea.cfa48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":180,"wires":[]},{"id":"ab1a013c.acb818","type":"ui_template","z":"c8c94fea.cfa48","group":"1072e92e.a310d7","name":"","order":1,"width":0,"height":0,"format":"<input type=\"text\" id=\"itemtext\" value=\"\">\n\n<script>\n    var value = \"add dio\"\n    this.scope.action = function() { \n        var value = document.getElementById(\"itemtext\").value;\n        document.getElementById(\"itemtext\").value = \"\";\n        console.log(value);\n        return value; \n    }\n    $(\"#itemtext\").keyup(function(event) { \n            if (event.keyCode === 13) { \n                $(\"#send\").click(); \n            } \n        }); \n</script>\n\n\n\n<md-button id=\"send\" ng-click=\"send({payload:action()})\">\n    Add item\n</md-button>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":100,"y":260,"wires":[["6703cb78.ef2834","7b466b28.cb7924"]]},{"id":"e09d57c5.fbfaf8","type":"debug","z":"c8c94fea.cfa48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":60,"wires":[]},{"id":"5b69dc39.e8c1ec","type":"debug","z":"c8c94fea.cfa48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":60,"wires":[]},{"id":"a60bfede.7cebf","type":"inject","z":"c8c94fea.cfa48","name":"first time load list","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":75,"y":120,"wires":[["153df92a.dbc1bf"]],"l":false},{"id":"7b466b28.cb7924","type":"delay","z":"c8c94fea.cfa48","name":"delay","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270,"y":220,"wires":[["153df92a.dbc1bf"]]},{"id":"e673ae6f.803668","type":"function","z":"c8c94fea.cfa48","name":"update list","func":"msg={}\nnode.status({text:msg});\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":180,"wires":[["7b466b28.cb7924"]]},{"id":"1072e92e.a310d7","type":"ui_group","z":"","name":"Grocery","tab":"24f8c38.d9869bc","disp":true,"width":10,"collapse":false},{"id":"9c38bd33.612f68","type":"influxdb","z":"","hostname":"192.168.1.135","port":"8086","protocol":"http","database":"grocery","name":"","usetls":false,"tls":""},{"id":"24f8c38.d9869bc","type":"ui_tab","z":"","name":"Shopping List","icon":"fa-list","order":1,"disabled":false,"hidden":false}]